body {
	font-family: serif;
}

#span1 {
	font-weight: 100;
}

#span2 {
	font-weight: 200;
	font-variant: small-caps;
}

#span3 {
	font-weight: 300;
	text-transform: uppercase;
}

#span4 {
	font-weight: 400;
}

#span5 {
	font-weight: 500;
}

#span6 {
	font-weight: 600;
}

#span7 {
	font-weight: 700;
}

p {
	font-family: 
}